@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  color: hsl(0, 0%, 17%);
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 24px;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

.form-input {
  max-width: 500px;
  width: 100%;
  height: 3em;
  overflow: hidden;
  border-radius: 12px;
  background-color: saddlebrown;
  display: flex;
}

.form-input input {
  flex-basis: 90%;
  padding: 8px 16px;
  border: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.form-input button {
  cursor: pointer;
  flex-basis: 10%;
  background-color: hsl(0, 0%, 17%);
  transition: all 0.3s ease;
  color: #FFFFFF;
  border: none;
}

.form-input button:hover {
  background-color: hsl(0, 0%, 59%);
}

.output {
  max-width: 900px;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.output-inner {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.output-inner h2 {
  font-size: 9px;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 59%);
  font-weight: 600;
  margin-bottom: 12px;
}

.output-inner p {
  font-size: 20px;
  font-weight: 500;
}

.output-inner div {
  flex-basis: 25%;
  padding: 0 24px;
  text-align: center;
}

.pattern {
  width: 100%;
  height: 32vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/pattern-bg-mobile.png");
}

#map {
  width: 100vw;
  height: 68vh;
  position: absolute;
  z-index: -1;
}

.leaflet-popup {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .pattern {
    background-image: url("./images/pattern-bg-desktop.png");
  }

  .output-inner {
    flex-direction: row;
    align-items: start;
  }

  .output-inner div {
    text-align: left;
  }
}