@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: gainsboro; */
  gap: 24px;
  width: 100%;
  padding: 24px;
  z-index: 99;
}

#map {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  /* margin-bottom: 24px; */
}

.form-input {
  max-width: 500px;
  width: 100%;
  height: 3em;
  overflow: hidden;
  border-radius: 12px;
  background-color: saddlebrown;
  display: flex;
}

.form-input input {
  flex-basis: 90%;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.form-input button {
  flex-basis: 10%;
}

.output {
  max-width: 900px;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
}

.output-inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.output-inner h2 {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.output-inner p {
  font-size: 1.25rem;
  font-weight: 500;
}

.output-inner div {
  flex-basis: 25%;
  padding: 0 24px;
}

/* .output-inner div:nth-child(2),
.output-inner div:nth-child(3) {
  border-left: solid 1px red;
  border-right: solid 1px red;
} */